body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
}
span{
    color: salmon;
}
.flexebol-containt{
    display: flex;
    margin-bottom: 150px;
}
.haf-width{
    width: 50%;
    padding-left: 5%;
}
.haf-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(salmon, rgb(255, 39, 39));
    padding: 10px 40px;
    border-radius: 5px;
}
.banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.Dream-Big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right ;
}.color{
    color: #ffb824;
}
.boxsudo{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    box-shadow: 10px 10px 40px gray;
}
h2{
    font-size: 40px;
}
.experiences-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#one{
    border-left: 7px solid;
    border-image: linear-gradient(salmon, rgb(255, 50, 84) );
    border-image-slice: 1;
}
#two{
    border-left: 7px solid;
    border-image: linear-gradient(blue, rgb(0, 255, 55) );
    border-image-slice: 1;
}
footer p{
    text-align: center;
}